<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Qpart</title>
    <style>
      /* th {
        background-color: darkblue !important;
      } */
    </style>

    <meta charset="utf-8" />
    <meta name="title" content="Qpart" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-title" content="Qpart" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="manifest" href="manifest.json" crossorigin="use-credentials" />
    <link rel="icon" href="img/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="lib/bootstrap.min.css?v=<%= version %>" />
    <link rel="stylesheet" href="lib/nprogress.min.css?v=<%= version %>" />
    <link rel="stylesheet" href="lib/jquery-ui.css?v=<%= version %>" />
    <link rel="stylesheet" href="lib/jquery.mobile.min.css?v=<%= version %>" />

    <link rel="stylesheet" href="lib/toastr.min.css?v=<%= version %>" />
    <link rel="stylesheet" href="lib/bootstrap-icons.css?v=<%= version %>" />
    <link rel="stylesheet" href="styles/basic.css?v=<%= version %>" />
    <link rel="stylesheet" href="styles/tables.css?v=<%= version %>" />
    <link rel="stylesheet" href="styles/mediaviewer.css?v=<%= version %>" />
  </head>
  <body>
    <div id="overlay"></div>

    <div id="container">
      <nav class="navbar navbar-custom navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
          <img src="img/logo.png" width="30" height="30" id="logo" class="d-inline-block align-top noColorImg" alt="" />
          <span class="text-container">
            <span id="navbar-brand-text" class="text-animation">Qpart</span>
          </span>
        </a>

        <div id="group-navbar" style="display: none">
          <span id="navbar_text_stanok"></span>
          <!-- <span id="navbar_text"></span> -->

          <button id="exit" type="button" class="btn btn-outline-dark">Выход</button>

          <button
            class="navbar-toggler"
            type="button"
            id="btnBurger"
            data-toggle="collapse"
            data-target="#navbarText"
            aria-controls="navbarText"
            aria-expanded="false"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto" id="menu">
            <!-- Меню наполняется при загрузке страницы -->
          </ul>
        </div>
      </nav>

      <div id="content" class="page" style="display: none">
        <!-- загружается при переходе по меню -->
      </div>

      <div id="login" class="page" style="display: none">
        <button id="btnStartVideo" type="button" class="btn btn-secondary btn-lg">Войти в программу</button>
        <video id="video" style="display: none" autoplay></video>
      </div>

      <div id="formMainCamera" style="display: none">
        <video id="mainCamera" autoplay></video>
        <span id="videoTimer">00:00</span>
        <div class="camera-controls">
          <button id="capturePhoto"><i class="bi bi-camera"></i></button>
          <button id="captureVideo"><i class="bi bi-record-fill"></i></button>
          <button id="stopVideo" style="display: none"><i class="bi bi-stop-fill"></i></button>
          <button id="closeCamera"><i class="bi bi-x-square"></i></button>
        </div>
        <div id="flash" class="flash"></div>
      </div>
    </div>

    <script>
      window.config = {
        testEnvironment: '<%= test %>',
        version: '<%= version %>',
        token: '<%= token %>',
      };
      const testEnvironment = window.config.testEnvironment;
      const version = window.config.version;
      const token = window.config.token;
    </script>

    <script src="lib/jquery-3.6.0.min.js?v=<%= version %>"></script>
    <script src="lib/nprogress.min.js?v=<%= version %>"></script>
    <script src="lib/bootstrap.bundle.min.js?v=<%= version %>"></script>
    <script src="lib/jquery-ui.min.js?v=<%= version %>"></script>
    <script src="lib/toastr.min.js?v=<%= version %>"></script>
    <script src="lib/jquery.cookie.js?v=<%= version %>"></script>
    <script src="lib/jquery.mask.js?v=<%= version %>"></script>
    <script src="lib/moment.js?v=<%= version %>"></script>
    <script src="lib/jquery.tablesorter.min.js?v=<%= version %>"></script>
    <script src="lib/jquery.tablesorter.widgets.min.js?v=<%= version %>"></script>
    <script src="lib/handlebars.min.js?v=<%= version %>"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
    <!-- <script src="lib/jquery.mobile.min.js?v=<%= version %>"></script> -->

    <script src="js/config.js?v=<%= version %>"></script>
    <script src="js/wss.js?v=<%= version %>"></script>
    <script src="js/login.js?v=<%= version %>"></script>
    <script src="js/tables.js?v=<%= version %>"></script>
    <script src="js/telegram.js?v=<%= version %>"></script>
    <script src="js/mediaviewer.js?v=<%= version %>"></script>
    <script src="js/storage.js?v=<%= version %>"></script>
    <script src="js/camera.js?v=<%= version %>"></script>
    <script src="js/swipe.js?v=<%= version %>"></script>

    <script>
      console.log('test, version', testEnvironment, version);
      if (testEnvironment) {
        const elements = document.querySelectorAll('.bg-dark');
        elements.forEach(element => {
          element.classList.remove('bg-dark');
          element.classList.add('test');
        });
      }

      if (token !== '') {
        $.cookie('token', token);
      }

      function screenSize() {
        const screenWidth = window.screen.width;
        const screenHeight = window.screen.height;
        const availableScreenWidth = window.screen.availWidth;
        const availableScreenHeight = window.screen.availHeight;

        alert(
          'viewport width: ' +
            window.innerWidth +
            ', viewport height: ' +
            window.innerHeight +
            ', screen width: ' +
            screenWidth +
            ', screen height: ' +
            screenHeight +
            ', availableScreenWidth: ' +
            availableScreenWidth +
            ', availableScreenHeight: ' +
            availableScreenHeight
        );
      }
      // screenSize();

      function listenResize() {
        window.addEventListener('resize', function () {
          makeNavbarTextMove();
        });
      }

      listenResize();
    </script>
  </body>
</html>
